<!-- web.config -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="java"
      arguments="-jar taskhub-backend.jar"
      stdoutLogEnabled="true"
      stdoutLogFile="\\?\%home%\LogFiles\stdout.log"
    />
  </system.webServer>
</configuration>
